DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
JWT_SECRET="change-me-super-secret-jwt-key-min-32-chars"
JWT_REFRESH_SECRET="change-me-super-secret-refresh-key-min-32-chars"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
REDIS_HOST="localhost"
REDIS_PORT="6379"
CORTEXONE_API_KEY=""
FRONTEND_URL="http://localhost:3000"
PORT="4000"
